
@{
    ViewData["Title"] = "AboutUs";
}

<div class="text-center">
    <h3>About Us</h3>
</div>
<br />
<div style="text-align:justify">
<p>
    ColoTix is an online ticketing portal dedicated exclusively to local events. Tickets -- from cooking lessons, brewery and rafting tours to concerts, theater, festivals, business events, fun runs and more -- are easy, secure and convenient to purchase.
</p>
<p>
    ColoTix was created by the same award-winning team that produces more than 20 news publications including the Boulder Daily Camera, Broomfield Enterprise, Cañon City Daily Record, Colorado Daily, Colorado Hometown Weekly, Longmont Times-Call, Loveland Reporter-Herald and Loveland Weekly. You already trust us to bring you the best about places to go and things to do; now, you can rely on us for simple, secure and convenient ticket purchasing.
    ColoTix provides organizations with access to our audience of more than 126,000 Sunday and 90,000 daily readers, 4.6 million monthly page views and more than 130,000 Facebook followers as well as built-in marketing support and a local professional team to help your event succeed.
</p>
<p>
    Any Colorado organization can sell tickets on ColoTiX.
</p>
</div>
