
@{
    ViewData["Title"] = "ContactUs";
}

<div class="text-center">
    <h3>Contact Us</h3>
</div>
<article style="text-align:center">
    <br />
    <dl>
        <dt>For information, queries or any technical issues</dt>
        <dd>
            Please email us at <a href="mailto:info@colotix.com">info@colotix.com</a> or Call us at <a href="tel:9706898409">970-689-8409</a>
            <br /><br /><br /><br /><br /><br /><br />
        </dd>
    </dl>
</article>

