@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome to ColoTIX</h1>*@
    <br/><br/>
         <a class="nav-link text-dark" asp-area="" asp-controller="Event" asp-action="Search"><img src="~/css/logo1.jpg" alt="ColoTIX" /></a>
    <br/>
</div>
